@import '/src/styles/colors';

.input {
	border: 1px solid #2b3553;
	border-radius: 6px;
	background-color: transparent;
	padding: 0 16px;
	height: 40px;
	width: 100%;
	max-width: 400px;
	color: $white;
}
