@import '/src/styles/colors';

.cardWrapper {
	padding: 16px;
	width: 25%;

	& .card {
		background-color: $cardBackground;
		box-shadow: 0 1px 20px 0 rgb(0 0 0 / 10%);
		padding: 32px 16px;
		text-align: center;
		border-radius: 10px;
		overflow: 0.2875rem;
		& .image {
			border-radius: 50%;
			width: 148px;
			height: 148px;
			background-color: $textColor;
		}

		& .name {
			font-size: 18px;
			font-weight: 400;
			margin-top: 24px;
			text-transform: capitalize;
		}

		& .mail {
			color: $textColor;
			font-weight: 300;
			font-size: 16px;
		}

		& .desc {
			font-weight: 200;
			font-size: 14px;
			margin-top: 16px;
		}
	}
}

@media (max-width: 768px) {
	.cardWrapper {
		width: 100%;
	}
}
