@import './colors';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
	outline: none;
}

body {
	margin: 0;
	background-color: $bodyColor;
	color: $white;
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
